{{>head}}
    <div class="main-page">

    {{>header}}
    <p>This page was created by Facundo Veronelli. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait"src="image/robot.png" alt="">
    </div>

        {{>footer}}
</body>
</html>