{{>head}}

    <div class="main-page">


    {{>header}}

    <form>

        <input type="text" placeholder="Location">
        <button>Search</button>

    </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>